@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: black;
  font-family: "Poppins", sans-serif;
}
/* navbar CSS */
header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color: #1d1f1d;
  height: 60px;
  display: flex;
  justify-content: flex-end;
}

#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
}

#brand a {
  color: #09c372;
}
nav {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}
ul {
  padding: 0 !important;
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: white;
}

ul li {
  padding: 5px;
  margin-left: 10px;
}

ul li:hover a {
  color: #92badd;
}
.avatar {
  border-radius: 50%;
  border: 1px solid white;
}

#signout,
#account {
  border-radius: 5px;
  padding: 5px 8px;
  cursor: pointer;
}

#signout {
  border: 1px solid red;
}
#account {
  border: 1px solid #92badd;
}

#signout a {
  color: red;
}

#account a {
  color: #92badd;
}
/* for mobile view */
#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  padding-top: 1.5rem !important;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}
.mobile-menu li a {
  color: black;
}

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
}

.searchbar_container {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  align-items: center;
  padding: 8px 12px;
  border-radius: 18px;
  width: 40em;
  margin: 0px 10px;
}

.searchbar_container:focus-within {
  border: 4px solid var(--bs-success);
}
.searchbar_container > input {
  outline: none;
  background-color: transparent;
  border: 0;
  margin: 0px 10px;
  width: 40rem;
}

.content {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  text-decoration: underline;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.cart-table {
  display: flex;
  justify-content: center;
  align-items: center;
}

th,
td {
  padding: 0.5rem 3rem;
}

th {
  background-color: var(--bs-success);
}

.cart-main-table {
  overflow: auto;
  height: 20em;
}
.cart-main-table thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

.cart-main-table {
  border: 3px solid black;
}

/* Just common table stuff. Really. */
table {
  border-collapse: collapse;
  width: 100%;
}

.alert {
  width: 100%;
  height: 10em;
  margin: 0 20em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border: 3px solid black;
}

.alert > p {
  font-size: 4em;
  text-transform: uppercase;
}

.final-price {
  position: fixed;
  bottom: 0;
  right: 0;
  border: 3px solid black;
  padding: 0.6em;
  margin: 2em 2em 0.5em 0;
  border-radius: 0.8em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: whitesmoke;
}

.final-price > h3 {
  text-align: center;
}
