@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: black;
  font-family: "Poppins", sans-serif;
}
/* navbar CSS */
header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color: #1d1f1d;
  height: 60px;
  display: flex;
  justify-content: flex-end;
}

.carousel {
  margin-top: -1.5em !important;
}
#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
}

#brand a {
  color: #09c372;
}
nav {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}
ul {
  padding: 0 !important;
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: white;
}

ul li {
  padding: 5px;
  margin-left: 10px;
}

ul li:hover a {
  color: #92badd;
}
.avatar {
  border-radius: 50%;
  border: 1px solid white;
}

#signout,
#account {
  border-radius: 5px;
  padding: 5px 8px;
  cursor: pointer;
}

#signout {
  border: 1px solid red;
}
#account {
  border: 1px solid #92badd;
}

#signout a {
  color: red;
}

#account a {
  color: #92badd;
}
/* for mobile view */
#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  padding-top: 1.5rem !important;
  background-color: white !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}
.mobile-menu li a {
  color: black;
}

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
}

.searchbar_container {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  align-items: center;
  padding: 8px 12px;
  border-radius: 18px;
  width: 37em;
  margin: 0px 10px;
}

.searchbar_container:focus-within {
  border: 4px solid var(--bs-success);
}
.searchbar_container > input {
  outline: none;
  background-color: transparent;
  border: 0;
  margin: 0px 10px;
  width: 37rem;
}

/* ============
  home page doomed 
============================== */
/*slider daw*/
@keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
body {
  margin: 0;
}
div#slider1 {
  overflow: hidden;
  height: 350px;
}
div#slider1 figure img {
  width: 20%;
  float: left;
}
div#slider1 figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 10s slidy infinite;
}

@media screen and (max-width: 600px) {
  .header,
  .footer-container,
  .cart-container,
  .navbar {
    float: none;
    flex-direction: column;
    align-content: flex-start;
  }

  .box1 {
    flex: 100%;
    padding: 10px 30px;
    border: 1px solid #e8e8e8;
    margin: 6px;
    border-radius: 20px;
  }

  .box2 {
    flex: 100%;
    padding: 10px 30px;
    border: 1px solid #e8e8e8;
    margin: 6px;
    border-radius: 20px;
  }
  .box3 {
    flex: 100%;
    padding: 10px 30px;
    border: 1px solid #e8e8e8;
    margin: 6px;
    border-radius: 20px;
  }

  .footer-button {
    display: none;
  }
  .footer-icon {
    display: none;
  }
}

/* child container and  boxes*/
.child-container {
  display: flex;
  flex-wrap: wrap;
}
.child-box1 {
  flex: 50%;
}
.child-box2 {
  flex: 50%;
}
.child-box1 img {
  margin-left: 47px;
  height: 70px;
  width: 70px;
}
.child-box2 img {
  height: 70px;
  width: 70px;
}

/* Column container */
.main-row {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.row-1-box1 {
  flex: 18%;
  background-color: #ffffff;
  height: 400px;
  margin: 4px;
  margin-left: 7px;
  text-align: center;
  box-shadow: 1px 1px 1px 1px #b7b7b7;
}
.row-1-box2 {
  flex: 20%;
  height: 400px;
  background-color: #ffffff;
  margin: 4px;
  text-align: center;
  box-shadow: 1px 1px 1px 1px #b7b7b7;
}
.row-1-box3 {
  flex: 20%;
  height: 400px;
  margin: 4px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 1px 1px 1px 1px #b7b7b7;
}
.row-1-box4 {
  flex: 20%;
  height: 400px;
  text-align: center;
  background-color: #ffffff;
  margin: 4px;
  box-shadow: 1px 1px 1px 1px #b7b7b7;
}
.shop-now-btn {
  border-radius: 10px;
  background: #f3cd6f;
  border: 1px solid #846a29;
  text-decoration: none;
  color: black;
  padding: 10px;
  width: 200px;
  margin-left: 60px;
  margin-top: 30px;
}
/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #232f3e;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
}
.footer-box1 {
  flex: 25%;
}
.footer-box2 {
  flex: 25%;
}
.footer-box3 {
  flex: 25%;
}
.footer-box4 {
  flex: 25%;
}
.footer-box1 ul li a {
  text-decoration: none;
  color: white;
  text-align: left;
}
.footer-box1 ul {
  text-decoration: none;
  list-style: none;
  text-align: left;
}
.footer-box2 ul li a {
  text-decoration: none;
  color: white;
  text-align: left;
}
.footer-box2 ul li {
  color: white;
}
.footer-box2 ul {
  text-decoration: none;
  list-style: none;
  text-align: left;
}

.footer-box3 ul li a {
  text-decoration: none;
  color: white;
  text-align: left;
}
.footer-box3 ul {
  text-decoration: none;
  list-style: none;
  text-align: left;
}
.footer-box4 ul li a {
  text-decoration: none;
  color: white;
  text-align: left;
}

.footer-button {
  text-decoration: none;
  padding: 10px;
  background: #232f3e;
  border-radius: 4px;
  border: 1px solid #848688;
  margin: 4px;
  color: white;
  margin-top: 200px;
}

/* product slider*************/

#slides {
  margin: 50px auto;
  width: 100%;
  position: relative;
}

#slides .mask {
  width: 97%;
  overflow: hidden;
  margin: auto;
}

#slides .overflow {
  width: 400%;
}

#slides .slide {
  width: 25%;
  height: 250px;
  line-height: 200px;
  float: left;
  background: white;
}
#slides .slide img {
  margin: 5px;
}

.svg {
  background: url("img/svg/location.svg") no-repeat;
  background-color: white;
}

/* for the feature banner */
.feature-flex-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}
