@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: black;
  font-family: "Poppins", sans-serif;
}

/* navbar CSS */
header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color: #1d1f1d;
  height: 60px;
  display: flex;
  justify-content: flex-end;
}

#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
}

#brand a {
  color: #09c372;
}
nav {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}
ul {
  padding: 0 !important;
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: white;
}

ul li {
  padding: 5px;
  margin-left: 10px;
}

ul li:hover a {
  color: #92badd;
}
.avatar {
  border-radius: 50%;
  border: 1px solid white;
}

#signout,
#account {
  border-radius: 5px;
  padding: 5px 8px;
  cursor: pointer;
}

#signout {
  border: 1px solid red;
}
#account {
  border: 1px solid #92badd;
}

#signout a {
  color: red;
}

#account a {
  color: #92badd;
}
/* for mobile view */
#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  padding-top: 1.5rem !important;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}
.mobile-menu li a {
  color: black;
}

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
}

.searchbar_container {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  align-items: center;
  padding: 8px 12px;
  border-radius: 18px;
  width: 37em;
  margin: 0px 10px;
}

.searchbar_container:focus-within {
  border: 4px solid var(--bs-success);
}
.searchbar_container > input {
  outline: none;
  background-color: transparent;
  border: 0;
  margin: 0px 10px;
  width: 37rem;
}

/*------------------ all products page mobiles -------------*/

.product-heading {
  display: inline-block;
  background: rgb(255, 255, 255);
  color: black;
  padding: 8px 100px;
  margin: 30px 0;
  border-radius: 40px;
  text-align: center;
}
.imgad {
  width: 1050px;
  height: 250px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: black;
}
.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}

.col-4 img {
  width: 100%;
}
.col-4 p {
  font-size: 14px;
}
.rating .fa {
  color: #ff523b;
}

.col-4:hover {
  transform: translateY(-5px);
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row-2 {
  justify-content: space-between;
  margin: 100px auto 50px;
}
select {
  border: 1px solid #ff523b;
  padding: 5px;
}
select:focus {
  outline: none;
}
.page-btn {
  margin: 0 auto 80px;
}
.page-btn span {
  display: inline-block;
  border: 1px solid #ff523b;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.page-btn span:hover {
  background: #ff523b;
  color: #fff;
}
.link {
  text-decoration: none;
}
/*------------------ single product mobile pages -------------*/
.single-product {
  margin-top: 80px;
}

.single-product .col-2 img {
  padding: 0;
}

.single-product .col-2 {
  padding: 20px;
}

.single-product .col-2 .product-price {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}

.single-product input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #ff523b;
}

input:focus {
  outline: none;
}

.related-products {
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 40px;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}
.col-2 .offer-img {
  padding: 50px;
}
.btn {
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}

.btn:hover {
  background: #ff523b;
}
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

table {
  max-width: 20em;
}
