
* {
  box-sizing: border-box;
}


body {
  font-family: Arial;
  margin: 0;
  background:#ffffff;
}


.header {
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 20px;
 padding-right: 20px;
  
  text-align: center;
  background:#131921;
  color: white;
  display:flex;
  flex-wrap: wrap;
}
.left-icon{
    flex: 10%;
   color:#ff9900; 
}
    
.Book{
    color:#ff9900;
    margin-top: -6px;

}
.left-logo{
    flex: 10%;
    font-size:24px;
    margin-left: -100px;
    
}

.search-box{
    flex: 50%;
    margin-top: -6px;
}
.box1{
    flex: 10%;
    font-size: 20px;
}
.box2{
    flex: 10%;
    font-size: 20px;
}
.box3{
    flex: 10%;
    font-size: 20px;
    margin-right: -12px;
}
.article-container{
    width: 40px;
    height: auto;
    border: 1px solid silver;
    margin-left: -20px;
}
article{
  width: 35px;
  height: 4px;
  background-color:white;
  margin: 6px 0;

}
.navbar {
  display: flex;
  background-color:#232f3e;
}

/* Style the navigation bar links */
.navbar a {
  color: white;
  padding: 10px 30px;
  text-decoration: none;
  text-align: center;
  
}
.navbar i{
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  margin-right: 400px;
  
}

/* Change color on hover */
.navbar a:hover {
  background-color:#232f3e;
  color:white;
  
  border: 1px #DADADA solid;
}

.tab-next-nav {
  padding: 5px;
  text-align:left;
  background:#d8f7eb;
  color:black;
  width: 100%;
}
.container{
    display: flex;
    margin: 5px;
    margin-top: -60px;
}



.topnav {
  overflow: hidden;
  
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding:10px 140px;
  font-size: 17px;
  border-bottom: 2px solid #ff9900;
  border-top: 2px solid #ff9900;
}

.topnav .search-container button {
  float: right;
  padding:12.5px;
  width: 60px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background: #febd69;
  border-bottom: 2px solid #ff9900;
  border-top: 2px solid #ff9900;
  border-right: 2px solid #ff9900;
  border-left: 1px solid #febd69;


}
.topnav .search-container a {
  float:left;
  padding:10px;
  width: 50px;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  background:#f3f3f3;
  border-bottom: 2px solid #ff9900;
  border-top: 2px solid #ff9900;
  border-left: 2px solid #ff9900;


}


@media screen and (max-width: 600px) {
   .header,.footer-container,.navbar {
    float: none;
    flex-direction: column;
    align-content:flex-start;
  }
  .cart-container-box{
    height:auto;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left:-400px;
    widows: 100%;
   
}
    
    
  .topnav input[type=text] {
      padding: 10px 13px;
    }
    .left-icon{
        flex: 100%;
        padding: 10px 30px;
    }
    .left-logo{
        flex: 100%;
    }
    .box1{
        flex: 100%;
        padding: 10px 30px;
        border: 1px solid #E8E8E8;
        margin: 6px;
        border-radius: 20px;
    }
    
    .box2{
        flex: 100%;
        padding: 10px 30px;
        border: 1px solid #E8E8E8;
        margin: 6px;
        border-radius: 20px;
    }
    .box3{
        flex: 100%;
        padding: 10px 30px;
        border: 1px solid #E8E8E8;
        margin: 6px;
        border-radius: 20px;
    }
    .shop-now-btn{
    border-radius: 10px;
    background: #f3cd6f;
    border: 1px solid #846a29;
    text-decoration: none;
    color: black;
    padding:10px 30px;
    margin-top: 90px;
    }
    .footer-button{
      display: none;  
    }
    .footer-icon{
      display: none;
    }
    .profile-box{
        flex: 100%;
        margin-left: 30px;
    }
    .user-profile img {
        margin-left: 140px;
    }
    .user-box2 form input{
    padding:10px 120px;
    border-radius: 30px;
    border: 1px solid #ffc22a;
    }
    .user-box2 form {
        margin-left: 30px;
        margin-bottom: 40px;
    }
    .button{
        margin-left: 150px;
    }
  
}  

.empy-container{
    width: 40%;
}
.shop-btn{
    
    background: #f3cd6f;
    border: 1px solid #846a29;
    text-decoration: none;
    color: black;
    margin: 30px;
    padding:10px 70px;

    
}
.btn-container{
    display: flex;
    flex-wrap: wrap;
    margin:10px;
}
.btn-1{
    flex: 30%;
    margin-bottom: 30px;
}
.btn-2{
    flex: 70%;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #232f3e;
}
.footer-container{
    display: flex;
    flex-wrap: wrap;
}
.footer-box1{
    flex: 25%;
}
.footer-box2{
    flex: 25%;
}
.footer-box3{
    flex: 25%;
}
.footer-box4{
    flex: 25%;
}
.footer-box1 ul li a {
     text-decoration:none;
     color: white;
     text-align: left;
}
.footer-box1 ul  {
    

    text-decoration:none;
    list-style: none;
    text-align: left;
}
.footer-box2 ul li a {
     text-decoration:none;
     color: white;
     text-align: left;
}
.footer-box2 ul  {
    

    text-decoration:none;
    list-style: none;
    text-align: left;
}

.footer-box3 ul li a {
     text-decoration:none;
     color: white;
     text-align: left;
}
.footer-box3 ul  {
    

    text-decoration:none;
    list-style: none;
    text-align: left;
}
.footer-box4 ul li a {
     text-decoration:none;
     color: white;
     text-align: left;
}
.footer-box4 ul  {
    

    text-decoration:none;
    list-style: none;
    text-align: left;
}
.footer-button{
    text-decoration: none;
    padding: 10px;
    background: #232f3e;
    border-radius: 4px;
    border: 1px solid #848688;
    margin: 4px;
    color: white;
    margin-top: 200px;
}

.btn{
    padding: 8px 20px;
    background:#BBBBBB;
    border-radius:2px;
    margin-top: 30px;
}

.cart-container-box{
    height:600px;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 40px;
    width: 400px;
    background: #ffffff;
    border: 1px solid  #C2C2C2;
    box-shadow: 10px 10px 100px 7px #e2dfd8; 
}
.cart-container-box h6{
    margin-left: 30px;
}
.search-in{
    
    padding:10px 90px;
    margin-left:20px;
    border: 1px solid #ffad13;
}
.search-in:checked{
    border: 1px solid #ffad13;
}
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row, .navbar  {   
    flex-direction: column;
  }
}

/* product slider*************/


input.set { display:none; }

#slide1:checked ~ .mask .overflow { margin-left:0; }
#slide2:checked ~ .mask .overflow { margin-left:-100%; }
#slide3:checked ~ .mask .overflow { margin-left:-200%; }
#slide4:checked ~ .mask .overflow { margin-left:-300%; }

#slides 
    { 
    margin:50px auto; 
    width:100%; 
    position:relative; }

#slides .mask 
   {width:97%; 
    overflow:hidden;
    margin:auto;
   }

#slides .overflow 
{ width:400%;
-webkit-transform:translateZ(0); 
-webkit-transition:all 0.5s ease-out; 
-moz-transition:all 0.5s ease-out; 
-o-transition:all 0.5s ease-out; 
 transition:all 0.5s ease-out; 
}

#slides .slide 
{ width:25%; 
  height:250px; 
  line-height:200px; 
  float:left; 
  background:white; 
 
}
#slides .slide img{
    margin: 5px;
}

#controls { width:100%; }

#controls label 
   {
    display:none; 
    width:3%; 
    height:100px; 
    position:absolute; 
    top:50%; 
    margin-top:-50px; 
    margin-left:10px;
    cursor:pointer; 
    background:#fcfcfc; 
    box-shadow: 1px 1px 1px 1px  #B7B7B7  ;
    border-radius: 1px;
  }

#controls label:hover { opacity:0.8; }

#slide1:checked ~ #controls label:nth-child(2), #slide2:checked ~ #controls label:nth-child(3), #slide3:checked ~ #controls label:nth-child(4) { right:0; display:block; }

#slide2:checked ~ #controls label:nth-child(1), #slide3:checked ~ #controls label:nth-child(2), #slide4:checked ~ #controls label:nth-child(3) { left:0; display:block; }


.svg{
    background:url("img/svg/location.svg") no-repeat;
    background-color: white;
    
}